

<h1>New task</h1>


<%= form_for(@task) do |f| %>
  <%= f.label :title, class: 'h3' %>
  <%= f.text_field :title, class: 'form-control mb-2 col-6' %>
  <%= f.label :details, class: 'h3' %>
  <%= f.text_field :details, class: 'form-control mb-2 col-6'%>
  <%= f.submit class: 'btn btn-primary'%>
<% end %>
<br>
<br>
<p><%= link_to "View All", tasks_path(@tasks)%></p>
